<div class="container mt-5">
<button class="btn btn-outline-primary mr-3" (click)="this.get404Error()">404</button>
<button class="btn btn-outline-primary mr-3" (click)="this.get500Error()">500</button>
<button class="btn btn-outline-primary mr-3" (click)="this.get400BadRequest()">400 BadRequest</button>
<button class="btn btn-outline-primary" (click)="this.get400ValidationError()">400 Validation Error</button>
<div class="row mt-5" *ngIf="this.validationErrors">
    <ul class="text-danger">
        <li *ngFor="let error of validationErrors">{{error}}</li>
    </ul>
</div>
</div>